{% extends 'main.html' %}

{% block nav %}
<div class="navbar navbar-light bg-light sidebar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            {% for list in lists %}
            <div>
                <a class="navbar-link" href="{% url 'show' list.id %}">{{list}}</a>
            </div>
            {% endfor %}
        </li>
    </ul>
</div>
<div class="navbar navbar-light bg-light sidebar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <form action="" method="post">
                {% csrf_token %}
                {{listform.name}}
            </form>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="content-title">Tasks</div>
<div class="content-wrapper">
    {% for task in tasks %}
    <div>{{task}}</div>
    {% endfor %}
</div>
{% endblock %}