@import "https://use.fontawesome.com/releases/v5.8.1/css/solid.css";

.sidebar,
.content {
    position: fixed;
    width: 100px;
    top: 0;
    bottom: 0;
}

.sidebar {
    width: 275px;
    left: 0;
    background-color: white;
    margin: 5px 0;
}

.sidebar-side {
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
}

.sidebar-side:hover {
    background-color: #F5EFF5;
}

/* div.sidebar-side {
    width: 285px;
    height: 40px;
    overflow-y: scroll;
} */

.sidebar-item {
    padding: 0 5px;
}

.sidebar-item a {
    text-decoration: none;
    color: #7D5294;
}

#count {
    background-color: #E8E8E8;
    color: black;
}

#item1 {
    text-align: center;
}

#item2 {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}

#item3 {
    text-align: center;
    font-size: 14px;
}

i {
    font-size: 18px;
}

i.fa-ellipsis-v {
    font-size: 16px;
}

hr {
    margin: 10px 0;
    color: #8F8A8F;
}

.myform {
    padding-left: 3px;
    padding-right: 3px;
    height: 40px;
    line-height: 40px;
    position: sticky;
}

.listinput {
    width: 223px;
    height: 40px;
    padding: 10px;
    border-style: none;
    border-right: 1.5px solid #F2E7F9;
    border-radius: 5px;
    outline: none;
    background-color: #E9DBF0;
    color: #936DA7;
    float: left;
    box-sizing: border-box;
}

.listinput::placeholder {
    color: #936DA7;
}

.listinput:hover {
    background-color: #F2E7F9;
}

.listbtn {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    width: 46px;
    background-color: #E9DBF0;
    border: none;
    color: #936DA7;
    position: absolute;
}

.listbtn:hover {
    background-color: #F2E7F9;
}

.searchbox {
    text-align: center;
    line-height: 40px;
}

.search {
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    /* border-radius: 5px; */
    /* background-color: #F4F4F4;  */
    padding: 10px;   
}

.search:hover {
    background-color: #F4F4F4;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }