.content {
    left: 275px;
    width: 100%;
    right: -1000;
    background: #F2E7F9;
    z-index: -1;
}

.wrapper {
    max-width: 991px;
    margin: 0 50px;
}

.head {
    text-align: left;
    margin-top: 30px;
    color: #7D5294;
}

.todolist {
    margin-top: 30px;
}

div.todolist {
    width: 1001px;
    height: 450px;
    overflow: auto;
}

.todolist a {
    text-decoration: none;
    color: black;
}

.checkbox {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -3px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.badge {
    background-color: #E9DBF0;
    color: #936DA7;
    font-weight: 500;
}

.completed {
    margin-top: 10px;
}

.completed h4 {
    font-size: 23px;
}

.closed-todos {
    margin-top: 10px;
}

del {
    color: #6E6E6E;
}

.todo {
    background-color: white;
    height: 55px;
    line-height: 55px;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 2px;
    vertical-align: middle;
}

.del-todo {
    width: 40px;
    height: 40px;
    margin-top: 7.5px;
    margin-right: 10px;
    float: right;
    display: none;
    outline: none;
    /* background-color: #F2E7F9; */
}

.edit-todo {
    width: 40px;
    height: 40px;
    margin-top: 7.5px;
    margin-right: 5px;
    float: right;
    display: none;
    /* background-color: #F2E7F9; */
}

.todo:hover .del-todo {
    display: block;
}

.todo:hover .edit-todo {
    display: block;
}

.todoform {
    position: fixed;
    bottom: 30px;
}

.todoinput {
    width: 991px;
    border: none;
    outline: none;
    height: 55px;
    padding: 10px;
    background-color: #EDDCF5;
    color: #936DA7;
    border-radius: 5px;
}

.todoinput::placeholder {
    color: #936DA7;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}