.wrapper {
    max-width: 991px;
    margin: 0 50px;
}

.head {
    text-align: left;
    margin-top: 30px;
    color: #7D5294;
}

.todolist {
    margin-top: 30px;
}

div.todolist {
    width: 991px;
    height: 450px;
    overflow: auto;
}

.todolist a {
    text-decoration: none;
    color: black;
}

.checkbox {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -3px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.badge {
    background-color: #EDDCF5;
    color: #936DA7;
    font-weight: normal;
}

.completed {
    margin-top: 10px;
}

.closed-todos {
    margin-top: 14px;
}

.todo {
    background-color: white;
    height: 55px;
    line-height: 55px;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 2px;
    vertical-align: middle;
}

.todoform {
    position: fixed;
    bottom: 30px;
}

.todoinput {
    width: 991px;
    border: none;
    outline: none;
    height: 55px;
    padding: 10px;
    background-color: #EDDCF5;
    color: #936DA7;
    border-radius: 5px;
}

.todoinput::placeholder {
    color: #936DA7;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }